#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}


/* Update the Menu item styles to make them bigger */
.ant-menu-item {
    font-size: 18px;
    /* Adjust the font size as needed */
    height: 60px;
    /* Adjust the height as needed */
    line-height: 60px;
    /* Adjust the line height to match the height */
}

/* Make the layout take up the full window height and be responsive */
.site-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-layout .ant-layout-header {
    flex: 0 0 auto;
}

.site-layout .ant-layout-content {
    flex: 1 1 auto;
    overflow: auto;
}
